Factura/src/conf/xml-resources/web-service-references/ServiceWeb/wsdl/localhost_8080/WebService/ServiceWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ServiceWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/WebService/ServiceWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="Articulos">
<part name="parameters" element="tns:Articulos"/>
</message>
<message name="ArticulosResponse">
<part name="parameters" element="tns:ArticulosResponse"/>
</message>
<message name="Clientes">
<part name="parameters" element="tns:Clientes"/>
</message>
<message name="ClientesResponse">
<part name="parameters" element="tns:ClientesResponse"/>
</message>
<message name="ClienteRegistro">
<part name="parameters" element="tns:ClienteRegistro"/>
</message>
<message name="ClienteRegistroResponse">
<part name="parameters" element="tns:ClienteRegistroResponse"/>
</message>
<message name="CrearFactura">
<part name="parameters" element="tns:CrearFactura"/>
</message>
<message name="CrearFacturaResponse">
<part name="parameters" element="tns:CrearFacturaResponse"/>
</message>
<message name="RegistrarArticulo">
<part name="parameters" element="tns:RegistrarArticulo"/>
</message>
<message name="RegistrarArticuloResponse">
<part name="parameters" element="tns:RegistrarArticuloResponse"/>
</message>
<portType name="ServiceWeb">
<operation name="Articulos">
<input wsam:Action="http://Service/ServiceWeb/ArticulosRequest" message="tns:Articulos"/>
<output wsam:Action="http://Service/ServiceWeb/ArticulosResponse" message="tns:ArticulosResponse"/>
</operation>
<operation name="Clientes">
<input wsam:Action="http://Service/ServiceWeb/ClientesRequest" message="tns:Clientes"/>
<output wsam:Action="http://Service/ServiceWeb/ClientesResponse" message="tns:ClientesResponse"/>
</operation>
<operation name="ClienteRegistro">
<input wsam:Action="http://Service/ServiceWeb/ClienteRegistroRequest" message="tns:ClienteRegistro"/>
<output wsam:Action="http://Service/ServiceWeb/ClienteRegistroResponse" message="tns:ClienteRegistroResponse"/>
</operation>
<operation name="CrearFactura">
<input wsam:Action="http://Service/ServiceWeb/CrearFacturaRequest" message="tns:CrearFactura"/>
<output wsam:Action="http://Service/ServiceWeb/CrearFacturaResponse" message="tns:CrearFacturaResponse"/>
</operation>
<operation name="RegistrarArticulo">
<input wsam:Action="http://Service/ServiceWeb/RegistrarArticuloRequest" message="tns:RegistrarArticulo"/>
<output wsam:Action="http://Service/ServiceWeb/RegistrarArticuloResponse" message="tns:RegistrarArticuloResponse"/>
</operation>
</portType>
<binding name="ServiceWebPortBinding" type="tns:ServiceWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Articulos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Clientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ClienteRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceWeb">
<port name="ServiceWebPort" binding="tns:ServiceWebPortBinding">
<soap:address location="http://localhost:8080/WebService/ServiceWeb"/>
</port>
</service>
</definitions>