Factura/web/WEB-INF/wsdl/localhost_8080/WebService/ServiceWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="Articulos" type="tns:Articulos"/>

<xs:element name="ArticulosResponse" type="tns:ArticulosResponse"/>

<xs:element name="Clientes" type="tns:Clientes"/>

<xs:element name="ClientesResponse" type="tns:ClientesResponse"/>

<xs:element name="CrearFactura" type="tns:CrearFactura"/>

<xs:element name="CrearFacturaResponse" type="tns:CrearFacturaResponse"/>

<xs:element name="RegistrarArticulo" type="tns:RegistrarArticulo"/>

<xs:element name="RegistrarArticuloResponse" type="tns:RegistrarArticuloResponse"/>

<xs:element name="RegistrarCliente" type="tns:RegistrarCliente"/>

<xs:element name="RegistrarClienteResponse" type="tns:RegistrarClienteResponse"/>

<xs:complexType name="CrearFactura">
<xs:sequence>
<xs:element name="Cliente" type="xs:anyType" minOccurs="0"/>
<xs:element name="Articulo" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Clientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="edad" type="xs:string" minOccurs="0"/>
<xs:element name="factura" type="tns:factura" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="articuloArticulo" type="tns:articulo" minOccurs="0"/>
<xs:element name="clienteCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idfactura" type="xs:int" minOccurs="0"/>
<xs:element name="iva" type="xs:int"/>
<xs:element name="total" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articulo">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="factura" type="tns:factura" minOccurs="0"/>
<xs:element name="idArticulo" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Articulos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ArticulosResponse">
<xs:sequence>
<xs:element name="return" type="tns:articulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarCliente">
<xs:sequence>
<xs:element name="Cedula" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
<xs:element name="Edad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarArticulo">
<xs:sequence>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Cantidad" type="xs:int"/>
<xs:element name="Precio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarArticuloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>